

#drawer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.effect-1 {
  padding-top: 10px;
}

.effect-1:before{
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  background: #29b6f6;
  transform:  scaleX(0);

}
.effect-1:hover:before {
  transform:  scaleX(1);
}

.effect-3 {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

.effect-3:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ffeb3b;
  transform:  translateX(-100%);
}

.effect-3:before {
  transform:  translateX(0);
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;

}

a:before, :after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

@media all and (min-width: 767px) {
  #drawer ul {
    list-style-type: none;
  }

  #drawer-toggle {
    display: none;
  }
}

@media all and (max-width: 768px) {
  #drawer {
    display: block;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    /* adds animation for all transitions */
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
  }

  /* Makes sure that everything is 100% height */

  /* gets the actual input out of the way; 
    we're going to style the label instead */

  #drawer-toggle {
    position: absolute;
    opacity: 0;
  }

  #drawer-toggle-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 0px;
    top: 0px;
    height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    z-index: 9999;
  }

  /* adds our "hamburger" menu icon */

  #drawer-toggle-label:before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 24px;
    background: #ffffff;
    right: 13px;
    top: 18px;
    box-shadow: 0 6px 0 #ffffff, 0 12px 0 #ffffff;
  }

  /* drawer menu pane - note the 0px width */

  #drawer {
    position: fixed;
    top: 0;
    right: -200px;
    height: 100%;
    width: 200px;
    background: #2f2f2f;
    padding: 20px;
    -webkit-overflow-scrolling: touch;
    color: #ffffff;
  }

  /* actual page content pane */

  .page-content {
    margin-right: 0px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  /* checked styles (menu open state) */
  #drawer-toggle:checked ~ .logo {
    display: none;
  }

  /* checked styles (menu open state) */
  #drawer-toggle:checked ~ .logo {
    display: none;
  }

  #drawer-toggle:checked ~ #drawer-toggle-label {
    height: 100%;
    width: calc(100% - 200px);
    background: rgba(255, 255, 255, 0.8);
    color: #ffffff;
  }

  #drawer-toggle:checked ~ #drawer-toggle-label:before {
    background-color: #000000;
    box-shadow: 0 6px 0 #000000, 0 12px 0 #000000;
    z-index: 9999;
  }

  #drawer-toggle:checked ~ #drawer-toggle-label,
  #drawer-toggle:checked ~ header {
    right: 200px;
  }

  #drawer-toggle:checked ~ #drawer {
    right: 0px;
  }

  #drawer-toggle:checked ~ .page-content {
    margin-left: -200px;
  }

  #drawer-toggle:checked ~ .logo {
    margin-left: -200px;
    position: relative;
  }

  #drawer li {
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: right;

  }

  #drawer li a {  
    color: #ffffff;

  }
}
/* Responsive MQ */

@media all and (max-width: 350px) {
  #drawer-toggle:checked ~ #drawer-toggle-label {
    height: 100%;
    width: 50px;
  }

  #drawer-toggle:checked ~ #drawer-toggle-label,
  #drawer-toggle:checked ~ header {
    right: calc(100% - 50px);
  }

  #drawer-toggle:checked ~ #drawer {
    width: calc(100% - 50px);
  }

  #drawer-toggle:checked ~ .page-content {
    margin-right: calc(100% - 50px);
  }
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
  border-bottom: 4px solid #ffffff;
  
}

.dropdown-content a {
  color: #666666 !important;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  
}


.hoverMenu:hover ~ .dropdown-content {
    display: block;
}

.dropdown-content:hover{
  display: block;
}


@media all and (max-width: 768px) {
  .dropdown-content{
    display: block;
    color: #ffffff;
    background-color: #2f2f2f;
    border-bottom: none;
    position: relative;
    min-width: 100%;
    padding: 20px 0 0;
  }

  .dropdown-content a{
    padding: 0px;
  }

  .dropdown-content a:last-of-type{
    padding-top: 20px;
  }

  .footer .dropdown-content {
    display: block;
    color: #666666;
    background-color: #ffffff;
    border-bottom: none;
    position: relative;
    min-width: 100%;
    padding: 5px 0 0;
  }

  .footer .dropdown-content a:last-of-type{
    padding-top: 5px;
  }
}